@import '../../common/_styles/colors';

.actions {
  float: right;
  padding: 3px 0;
  text-align: right;
}

.overflowList {
  background: $white;
  border: 1px solid $snow;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  list-style-type: none;
  margin: 0;
  opacity: 0;
  padding: 9px 0 7px;
  position: absolute;
  right: 5px;
  top: 22px;
  transform: translateX(200%);
  transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: 10;

  &::after {
    clear: both;
    content: ' ';
    display: block;
  }

  &.active {
    opacity: 1;
    transform: translateX(0);
  }

  li {
    display: block;
    text-align: left;
  }

  .divider::before {
    background-color: $snow;
    content: ' ';
    display: block;
    height: 1px;
    margin: 5px auto;
    width: 90%;
  }
}

.overflowButton,
.toolbarButton {
  all: unset;
  color: $overcast;
  cursor: pointer;

  &:hover {
    color: $darksmoke;
  }
}

.overflowButton {
  padding: 0 0 0 5px;
}

.toolbarButton {
  box-sizing: border-box;
  font-size: 14px;
  line-height: 16px;
  padding: 5px 30px 5px 18px;
  width: 100%;

  &:hover {
    background-color: $teal;
    color: $white;
  }
}
