{
  "extends": [
    "react-app",
    "prettier"
  ],
  "plugins": [
    "react-hooks"
  ],
  "rules": {
    "no-unneeded-ternary": "warn",
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "never"
    ],
    "no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "args": "after-used"
      }
    ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error"
  }
}