@import './colors';
@import './variables';

@mixin fontBase {
  font-family: "proxima-nova", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, sans-serif !important;
}

@mixin pocketPanel {
  background-color: $powder;
  border-color: $white;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  box-shadow: $shadow;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 100;

  .darkMode & {
    background-color: $night;
    border-color: $pitch;
  }
}

@mixin pocketButton {
  all: unset;
  background-color: none;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-family: $fontstack-default;
  padding: 0;
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
}

@mixin pocketButtonStyled {
  @include pocketButton;

  border-radius: 3px;
  box-shadow: $shadow-button;
  padding: 0.5em 1em;

  &:hover {
    box-shadow: $shadow-button-down;
    transform: translateY(1px);
  }
}

@mixin pocketButtonYes {
  @include pocketButtonStyled;

  background-color: $emerald;
  color: $white;

  &:hover {
    background-color: darken($emerald, 5%);
  }
}

@mixin pocketButtonNo {
  @include pocketButtonStyled;

  background-color: $darksmoke;
  color: $white;

  &:hover {
    background-color: darken($darksmoke, 10%);
  }
}

@mixin hoverDown {
  box-shadow: $shadow-down;
  transform: translateY(1px);
}

$narrow: 700px;
$mobile: 320px;

@mixin narrow {
  @media (min-width: #{$mobile}) and (max-width: #{$narrow - 1px}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile - 1px}) {
    @content;
  }
}
