@import '../../../../../common/_styles/colors';

.suggestions {
    box-sizing: border-box;
    color: $pitch;
    display: block;
    font-size: 13px;
    line-height: 17px;
    margin-top: 2px;
    text-align: left;
    width: 100%;
}

.header {
    border-bottom: 1px solid $snow;
    font-size: 1.1em;
    font-weight: 400;
    padding: 0.3em 0;
}

.suggestionsList {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 8px 0 0;
    text-align: left;
}

.suggestion {
    background-color: $smoke;
    border-radius: 3px;
    color: $tar;
    cursor: pointer;
    display: inline-block;
    flex-grow: 1;
    font-weight: 300;
    letter-spacing: 0.05em;
    line-height: 16px;
    margin-bottom: 5px;
    margin-right: 3px;
    min-width: 15%;
    padding: 1px 8px;
    text-align: center;
    text-transform: lowercase;
    transform: translateZ(0.1);

    &:hover {
        background-color: $teal;
        color: $white;
    }
}

