@import '../../common/_styles/colors';
@import '../../common/_styles/variables';
@import '../../common/_styles/components';

.hanger {
    @include fontBase;

    font-size: 16px;
    position: fixed;
    right: 10px;
    top: 15px;
    width: 320px;
    z-index: 2147483647;
}
