@mixin icon-style {
  position: relative;
  top: 2px;
}
@mixin show-stroke {
  .pocketIconStroke {
    display: inline-block;
    @include icon-style;
  }
  .pocketIconFill {
    display: none;
  }
}
@mixin show-fill {
  .pocketIconFill {
    display: inline-block;
    @include icon-style;
  }
  .pocketIconStroke {
    display: none;
  }
}
.pocketIconWrapper {
  position: relative;
  width: 24%;
  text-align: right;
}
.pocketIconContainer {
  cursor: pointer;
  border-radius: 100%;
  display: inline;
  transition: background 200ms;

  &:hover {
    background: #ef405630;
    .pocketIconStroke {
      fill: #ef4056;
    }
  }
  .saved & {
    @include show-fill;
  }
}

.focus-view {
  text-align: left;
  margin: auto 0px;
  zoom: 1.2;
}

@include show-stroke;

.pocketIconStroke {
  fill: rgb(136, 153, 166);
}
.pocketIconFill {
  fill: #ef4056;
}
