@mixin show-stroke {
  .pocketIconStroke {
    display: inline-block;
  }
  .pocketIconFill {
    display: none;
  }
}
@mixin show-fill {
  .pocketIconFill {
    display: inline-block;
  }
  .pocketIconStroke {
    display: none;
  }
}
.pocketIconContainer {
  cursor: pointer;
  position: relative;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  position: relative;
  left: -5px;
  transition: background 200ms;
  &:hover {
    background: #ef405630;
    .pocketIconStroke {
      fill: #ef4056;
    }
  }
  .saved & {
    @include show-fill;
  }
  .list-view & {
    margin-top: -2px;
  }
  .focus-view & {
    margin-top: 5px;
  }
}

@include show-stroke;

.pocketIconStroke,
.pocketIconFill {
  height: 16px;
  vertical-align: bottom;
  width: 16px;
  position: relative;
  top: 10px;
  left: 9px;
}
.pocketIconStroke {
  fill: rgb(136, 153, 166);
}
.pocketIconFill {
  fill: #ef4056;
}
