@import '../../../common/_styles/colors';
@import '../../../common/_styles/variables';
@import '../../../common/_styles/components';

.survey {
  background-color: $powder;
  border-color: $white;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  box-shadow: $panel-shadow;
  box-sizing: border-box;
  color: $pitch;
  font-family: $fontstack-default;
  font-size: 13px;
  font-weight: 300;
  margin-top: 10px;
  padding: 1em;
  position: relative;
  text-shadow: none !important;
  width: 320px;
}

.header {
  font-weight: 600;
  font-size: 1.2em;
  text-align: center;
  padding: 0 3.3rem 0.8rem;
  margin: 0;
}

.options {
  list-style-type: none;
  padding: 0 0;
  margin: 0;
  li {
    margin-bottom: 0.3em;
    display: block;
  }
}
.optionButton {
  @include pocketButton;
  background-image: linear-gradient(to bottom, $white 65%, $snow);
  border: 1px solid $smoke;
  border-radius: 3px;
  text-align: center;
  box-sizing: border-box;
  display: block;
  width: 100%;
  font-size: 1em;
  padding: 0.8em 1em;
  transition: all 150ms ease-out;
  &:hover {
    border: 1px solid $overcast;
    background-image: linear-gradient(to bottom, $white 75%, $snow);
  }
}

.dismiss {
  @include pocketButton;
  padding: 1em 1em 0.2em;
  text-align: center;
  display: block;
  box-sizing: border-box;
  text-decoration: underline;
  font-size: 0.875em;
  color: $silver;
  width: 100%;
}

.thanksHeader{
  font-size: 1rem;
  text-align: center;
  margin:0;
  padding: 0 0 0.4em;
}
.thanksP{
  text-align: center;
}
.thanksButton{
  all: unset;
  color: $teal;
  cursor: pointer;
  &:hover{
    color: $emerald;
  }
}
